<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
     
    </startup>
  <appSettings>
    <add key="srhw8321" value="srhw8321"/>
    <add key="wshw3242" value="wshw3242"/>
    <add key="Intranet" value="hw-intranet"/>
    <add key="VM-SCKE" value="wshw3242vm"/>
  </appSettings>
</configuration>